.rejouer{
    -fx-text-fill: #ff0000;
    -fx-background-color: #FFad33;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.reco{
    -fx-text-fill: #ff0000;
    -fx-background-color: #FFad33;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.c1{
    -fx-text-fill: #ff0000;
    -fx-background-color: #FFad33;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.c2{
    -fx-text-fill: #ff0000;
    -fx-background-color: #FFad33;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}